<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_PATH" value="${java.io.tmpdir}" />

	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/zooinspector-n.log</file>
		<append>false</append>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%t] %5p [%c{0}:%M:%L] %m%throwable%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="asyncFileAppender" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>1000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<includeCallerData>true</includeCallerData>
		<appender-ref ref="fileAppender" />
	</appender>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%t] %5p [%c{0}:%M:%L] %m%throwable%n</pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
  		<appender-ref ref="asyncFileAppender" /> 
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>